/* DataTable.css */
.table-container {
    max-width: 800px; /* Задайте бажану ширину контейнера */
    margin: 0 auto;   /* Вирівняйте по центру */
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }